article.NewsList-article{border-bottom:1px solid #bfb1ac;padding-bottom:25px !important;}
a.Button--bordered{border:1px solid #31b7bc;background:#fff;color:#31b7bc;padding:10px}
a.Button--bordered:hover{background:#31b7bc;color:#fff !important;}
div#wpdeft_loadmore{border:1px solid #31b7bc;background:#31b7bc;color:#fff;padding:10px}
